@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

:root{
    --color-primary: #f8c800;
    --color-primary-accent: #ffea8f ; 

    --color-secondary: black;

    --color-background: #FFF7D4;

    --text-light: white;
    --text-yellow: #f8c800;
    --text-dark: black;

    --font-san: 'Instrument Sans', sans-serif;
    --font-serif: 'Instrument Serif', serif;
}

html body {
    width: 100% !important;
    margin: 0 auto;
    padding: 0;
}

body{
    font-family: var(--font-san);
}

h1{
    font-family: var(--font-serif);
}